<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.albinek.mac.updater_for_macos</string>
		<key>EnvironmentVariables</key>
		<dict>
			<key>PATH</key>
			<string>/Users/albinek/.rbenv/shims:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:</string>
		</dict>
		<key>ProgramArguments</key>
		<array>
			<string>/Users/albinek/updater_for_macos.sh</string>
			<string>--macos</string>
			<string>--brew</string>
			<string>--gem</string>
			<string>--apm</string>
		</array>
		<key>RunAtLoad</key>
		<true/>
		<key>StandardOutPath</key>
		<string>/tmp/com.albinek.mac.updater_for_macos.stdout</string>
		<key>StandardErrorPath</key>
		<string>/tmp/com.albinek.mac.updater_for_macos.stderr</string>
		<key>StartCalendarInterval</key>
		<dict>
			<key>Hour</key>
			<integer>11</integer>
			<key>Minute</key>
			<integer>00</integer>
		</dict>
	</dict>
</plist>
